<html lang="en">
    <head>
        <title>{% block title %}Wordy SRS{% endblock %}</title>
        <link rel="stylesheet" href="/assets/styles.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="center">
            <button class="menu_button" onclick="window.location.href='/add';">Add</button>
            <button class="menu_button" onclick="window.location.href='/';">Review</button>
        </div>
        <div id="content">
            {% block content %}<h1>Content goes here!</h1>{% endblock %}
        </div>
    </body>
</html>