{% extends "base.html" %}

{% block content %}
<div class="center">
    <h2><a href="/review">Review sentences</a></h2>
    <h2><a href="/add">Add sentences</a></h2>
    <ul>
        <li><a href="https://www3.nhk.or.jp/news/easy/">Easy news articles</a></li>
        <li><a href="hukumusume.com/douwa/betu/">Simple children's stories</a></li>
        <li><a href="https://www.coscom.co.jp/newsweather/news501ssweb/index-j.html">Simple news article with translation + help.</a></li>
        <li><a href="https://hirogaru-nihongo.jp/">Simple articles with pictures and a quiz at the end</a></li>
        <li><a href="http://www.nippontalk.com/en">Blog with simple articles + translation</a></li>
    </ul>
</div
{% endblock %}